# {{ ansible_managed }}
#
# Main config is stored at {{ redis_volatile_config }} and is
# being updated by redis-sentinel. Ugh.
#
daemonize yes
pidfile /var/run/redis/{{ redis_service }}.pid
port {{ redis_port }}
bind {{ redis_bind_interface }}

{% if redis_unixsocket|default(None) %}
unixsocket {{ redis_unixsocket }}
{% endif %}

timeout {{ redis_timeout }}

loglevel {{ redis_loglevel }}
logfile {{ redis_logfile }}

# To enable logging to the system logger, just set 'syslog-enabled' to yes,
# and optionally update the other syslog parameters to suit your needs.
# syslog-enabled no
# syslog-ident redis
# syslog-facility local0

databases {{ redis_databases }}

{% for save in redis_save %}
save {{ save }}
{% endfor %}

rdbcompression {{ redis_rdbcompression }}
dbfilename {{ redis_dbfilename }}
dir {{ redis_dbdir }}

# maxclients 128

{% if redis_maxmemory %}
maxmemory {{ redis_maxmemory }}
maxmemory-policy {{ redis_maxmemory_policy }}
maxmemory-samples {{ redis_maxmemory_samples }}
{% endif %}

appendonly {{ redis_appendonly }}
appendfsync {{ redis_appendfsync }}
no-appendfsync-on-rewrite no

{% for include in redis_includes %}
include {{ include }}
{% endfor %}

slaveof {{ master_ip }} {{ port_redis }}

